.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


.rightContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    text-align: center;
}


.leftContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.leftContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.topLeftContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo {
    width: 50px;
    height: auto;
}


.sparkText {
    font-size: 32px;
    font-weight: bold;
}

.signInContainer {
    text-align: center;
}

.signInText {
    font-size: 24px;
    font-weight: bold;
}

/* Container */
.signInContainer {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;

  }
  
  .inputGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: 400;
    color: #666666;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:white;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black; /* Text color */
    margin-bottom: 15px;
  }
  
  .checkboxContainer input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    accent-color: black; 
  }
  
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  
  .checkboxContainer span {
    text-decoration: underline;
    cursor: pointer;
    color: #007bff;
  }
  
  .checkboxContainer span:hover {
    color: #0056b3;
  }




@media (max-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .leftContainer,
    .rightContainer {
        width: 50%;
        height: 100vh;
    }

    .image {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 767px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .leftContainer,
    .rightContainer {
        width: 100%;
        height: auto;
    }

    .image {
        width: 80%;
        max-height: 500px;
    }
}